body{
    background-color: #000;
    color: #ffe;
    text-align: center;
    font-family: serif;
}

h1{
    font-size: 80px;
}

a{
    text-decoration: none;
    color: #000;
}

button{
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #00acee;
    width: 200px;
    line-height: 80px;
    display: inline-block;
    border-radius: 16px;
}

.buttons{
    justify-content: space-between;
}